.sectionWrapper {
  background-color: #0d1117; /* Dark background */
  padding: 80px 20px;
  border-radius: 16px;
}

.leftImage {
  max-width: 85%;
  border-radius: 12px;
}

.counterBox {
  text-align: center;
}

.counter {
  font-size: 3rem;
  font-weight: bold;
  color: #93e704; /* Green highlight */
}
